* {
    font-family: 'Dela Gothic One', cursive;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(64, 224, 208, 0.192);
}

.box-titulo {
    background-color: rgba(159, 14, 226, 0.452);
    width: 400px;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.box-tarefas {
    margin-top: 20px;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.button-box {
    width: 400px;
    display: flex;
    justify-content: center;
    height: 40px;
}

.button-nova-tarefa {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgba(159, 14, 226, 0.452);
    border-radius: 15px;
    outline: none;
    border: none;
}

.button-adicionar-tarefa {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgba(159, 14, 226, 0.452);
    border-radius: 15px;
    outline: none;
    border: none;
}

.tarefas-embrulho {
    justify-content: flex-start;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: rgba(0, 47, 255, 0.281);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.delete-lixeira {
    position: absolute;
    right: 605px;
    justify-content: center;
    width: 30px;
}

.tarefas-input- {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-checkbox-on {
    text-decoration: line-through rgba(159, 14, 226, 0.452);
}

.tarefas-input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 47, 255, 0.281);
    font-size: 20px;
}